In [ ]:
#Combined causal sentences from causenet to the existing causal dataframe

In [2]:
import json

In [3]:
import jsonlines

file1 = 'causenet-precision.jsonl'
rel = []
sentences = []

with open(file1, 'r') as f:
    for lineno, line in enumerate(f, start=1):
        try:
            data = json.loads(line)
            cause = data['causal_relation']['cause']['concept']
            effect = data['causal_relation']['effect']['concept']
            try:
                sen = data['sources'][0]['payload']['sentence']
            except:
                sen = ''
            rel.append((cause, effect))
            sentences.append(sen)
        except json.JSONDecodeError:
            print(f"Error decoding JSON on line {lineno}. Skipping...")

Error decoding JSON on line 87007. Skipping...

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(list(zip(sentences, rel)), columns =['sentences','relation'])

df = df[df['sentences']!='']
df = df.reset_index()

df

,index,sentences,relation
0,0,"For example, the book also described how to di...","(accident, death)"
1,1,This is a stage in some diseases before the sy...,"(disease, death)"
2,2,Pneumonia was a serious cause of death in the ...,"(pneumonia, death)"
3,3,"In the 2004 UK Kennel Club survey, the most co...","(cancer, death)"
4,4,His death was announced to Lok Sabha at 14:00 ...,"(heart_attack, death)"
...,...,...,...
86460,87001,"Over a period of several years, economic growt...","(innovations, economic_growth)"
86461,87002,"Journalism, he said, encourages skepticism tha...","(skepticism, cynicism)"
86462,87003,Chemical sensitivities included symptoms cause...,"(cigarette_smoke, symptoms)"
86463,87004,"This can result in a short circuit, which woul...","(short_circuit, engine_to_stall)"
86464,87005,"Mars is associated with fire, aggression, war,...","(mars, aggression)"

In [8]:
df

,index,sentences,relation
0,0,"For example, the book also described how to di...","(accident, death)"
1,1,This is a stage in some diseases before the sy...,"(disease, death)"
2,2,Pneumonia was a serious cause of death in the ...,"(pneumonia, death)"
3,3,"In the 2004 UK Kennel Club survey, the most co...","(cancer, death)"
4,4,His death was announced to Lok Sabha at 14:00 ...,"(heart_attack, death)"
...,...,...,...
86460,87001,"Over a period of several years, economic growt...","(innovations, economic_growth)"
86461,87002,"Journalism, he said, encourages skepticism tha...","(skepticism, cynicism)"
86462,87003,Chemical sensitivities included symptoms cause...,"(cigarette_smoke, symptoms)"
86463,87004,"This can result in a short circuit, which woul...","(short_circuit, engine_to_stall)"
86464,87005,"Mars is associated with fire, aggression, war,...","(mars, aggression)"

In [9]:
import pandas as pd

# Assuming you have an existing DataFrame called 'df'
df['causal'] = 1

In [10]:
df

,index,sentences,relation,causal
0,0,"For example, the book also described how to di...","(accident, death)",1
1,1,This is a stage in some diseases before the sy...,"(disease, death)",1
2,2,Pneumonia was a serious cause of death in the ...,"(pneumonia, death)",1
3,3,"In the 2004 UK Kennel Club survey, the most co...","(cancer, death)",1
4,4,His death was announced to Lok Sabha at 14:00 ...,"(heart_attack, death)",1
...,...,...,...,...
86460,87001,"Over a period of several years, economic growt...","(innovations, economic_growth)",1
86461,87002,"Journalism, he said, encourages skepticism tha...","(skepticism, cynicism)",1
86462,87003,Chemical sensitivities included symptoms cause...,"(cigarette_smoke, symptoms)",1
86463,87004,"This can result in a short circuit, which woul...","(short_circuit, engine_to_stall)",1
86464,87005,"Mars is associated with fire, aggression, war,...","(mars, aggression)",1

In [11]:
import pandas as pd

df.drop(columns=['relation', 'index'], inplace=True)

In [12]:
df

                                               sentences  causal
0      For example, the book also described how to di...       1
1      This is a stage in some diseases before the sy...       1
2      Pneumonia was a serious cause of death in the ...       1
3      In the 2004 UK Kennel Club survey, the most co...       1
4      His death was announced to Lok Sabha at 14:00 ...       1
...                                                  ...     ...
86460  Over a period of several years, economic growt...       1
86461  Journalism, he said, encourages skepticism tha...       1
86462  Chemical sensitivities included symptoms cause...       1
86463  This can result in a short circuit, which woul...       1
86464  Mars is associated with fire, aggression, war,...       1

[86465 rows x 2 columns]

In [14]:
df.to_csv("causal_net.csv", escapechar="\\")

In [24]:
df = df.rename(columns={'sentences': 'sentence'})

In [25]:
import pandas as pd

In [26]:
causal_df = pd.read_csv('causal_df.csv')

In [27]:
causal_df

       Unnamed: 0                                           sentence  causal
0               0  ticks that feed on mice are highly likely to b...       1
1               1  japanâ€™s fukushima disaster accounted for 47% o...       1
2               2  clinical studies show that inconsistency cause...       1
3               3  the original shish mahal was on gibson street,...       1
4               4  for example, chemicals like benzene can cause ...       1
...           ...                                                ...     ...
14006       14006  Lithium treatment was terminated in 1975 becau...       1
14007       14007  Lithium treatment was terminated in 1975 becau...       1
14008       14008  Eosinophilia caused by clozapine was observed ...       1
14009       14009  Eosinophilia has been encountered from 0.2 to ...       1
14010       14010  Successful challenge with clozapine in a histo...       1

[14011 rows x 3 columns]

In [28]:
causal_df.drop(columns=['Unnamed: 0'], inplace=True)

In [29]:
causal_df

                                                sentence  causal
0      ticks that feed on mice are highly likely to b...       1
1      japanâ€™s fukushima disaster accounted for 47% o...       1
2      clinical studies show that inconsistency cause...       1
3      the original shish mahal was on gibson street,...       1
4      for example, chemicals like benzene can cause ...       1
...                                                  ...     ...
14006  Lithium treatment was terminated in 1975 becau...       1
14007  Lithium treatment was terminated in 1975 becau...       1
14008  Eosinophilia caused by clozapine was observed ...       1
14009  Eosinophilia has been encountered from 0.2 to ...       1
14010  Successful challenge with clozapine in a histo...       1

[14011 rows x 2 columns]

In [30]:
total_causal=  pd.concat([causal_df,df])

In [31]:
total_causal.shape

(100476, 2)

In [32]:
total_causal

                                                sentence  causal
0      ticks that feed on mice are highly likely to b...       1
1      japanâ€™s fukushima disaster accounted for 47% o...       1
2      clinical studies show that inconsistency cause...       1
3      the original shish mahal was on gibson street,...       1
4      for example, chemicals like benzene can cause ...       1
...                                                  ...     ...
86460  Over a period of several years, economic growt...       1
86461  Journalism, he said, encourages skepticism tha...       1
86462  Chemical sensitivities included symptoms cause...       1
86463  This can result in a short circuit, which woul...       1
86464  Mars is associated with fire, aggression, war,...       1

[100476 rows x 2 columns]

In [38]:
total_causal.to_csv("total_causal.csv", index=False, escapechar='\\')

In [19]:
non_causal_df=pd.read_csv("non_causal_df.csv")

In [21]:
non_causal_df.drop(columns=['Unnamed: 0'], inplace=True)

In [22]:
non_causal_df

                                                sentence  causal
0      osn movies is a series of premium movie channe...       0
1           as of 2010 it had a population of 186 people       0
2      post warvogt resumed his position as rector at...       0
3      liza became pregnant and was taken to memphis ...       0
4      asencio was designated for assignment on novem...       0
...                                                  ...     ...
31220  At autopsy, the liver was found to be small, s...       0
31221  Physical exam revealed a patient with aphasia,...       0
31222  At the time when the leukemia appeared seven o...       0
31223  The American Society for Regional Anesthesia a...       0
31224  Concomitant administration of estradiol result...       0

[31225 rows x 2 columns]

In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split

causal_df = pd.read_csv('total_causal.csv')
non_causal_df = pd.read_csv('non_causal_df.csv')

causal_train, causal_test = train_test_split(causal_df, test_size=0.3, random_state=42)
non_causal_train, non_causal_test = train_test_split(non_causal_df, test_size=0.3, random_state=42)

train_dataset = pd.concat([causal_train, non_causal_train], ignore_index=True)
test_dataset = pd.concat([causal_test, non_causal_test], ignore_index=True)

train_dataset = train_dataset.sample(frac=1).reset_index(drop=True)
test_dataset = test_dataset.sample(frac=1).reset_index(drop=True)

In [40]:
train_dataset

                                                sentence  causal  Unnamed: 0
0      According to its website, the group employed 2...       0     14450.0
1      to a 1999 book, Disability Discourse, in which...       1         NaN
2      Centers for Disease Control (CDC) announced th...       1         NaN
3      Prior to introduction of the conjugate vaccine...       1         NaN
4      Any time paper degrades from the garbage dump,...       1         NaN
...                                                  ...     ...         ...
92185  Diseases affecting the large intestine may cau...       1         NaN
92186  Elbow pain can be caused by injury or strain t...       1         NaN
92187  Some retroviruses can cause diseases, includin...       1         NaN
92188  two clemson players were selected as first-tea...       0      4185.0
92189  DISCUSSION: Although there are several reports...       0     24394.0

[92190 rows x 3 columns]

In [41]:
train_dataset.drop("Unnamed: 0", axis=1, inplace=True)

In [42]:
train_dataset

                                                sentence  causal
0      According to its website, the group employed 2...       0
1      to a 1999 book, Disability Discourse, in which...       1
2      Centers for Disease Control (CDC) announced th...       1
3      Prior to introduction of the conjugate vaccine...       1
4      Any time paper degrades from the garbage dump,...       1
...                                                  ...     ...
92185  Diseases affecting the large intestine may cau...       1
92186  Elbow pain can be caused by injury or strain t...       1
92187  Some retroviruses can cause diseases, includin...       1
92188  two clemson players were selected as first-tea...       0
92189  DISCUSSION: Although there are several reports...       0

[92190 rows x 2 columns]

In [43]:
train_dataset.to_csv("train_all_causal_final.csv")

In [44]:
test_dataset

                                                sentence  causal  Unnamed: 0
0      in fact, i would go so far as to say that my p...       1         NaN
1      These health problems are the result of nutrie...       1         NaN
2      Such actions must also be the cause of the pla...       1         NaN
3      hms barfleur was a 100-gun first-rate ship of ...       0      5386.0
4      The success of The Adam and Joe Show lead to s...       1         NaN
...                                                  ...     ...         ...
39506  We discuss the implications for current diagno...       0     27258.0
39507  They are used for allergic reactions associate...       1         NaN
39508  Hair grows back after 3-9 months after stress ...       1         NaN
39509  The fungus that caused the Irish potato famine...       1         NaN
39510  Data on efficacy of late administration of oxi...       0     26078.0

[39511 rows x 3 columns]

In [45]:
test_dataset.drop("Unnamed: 0", axis=1, inplace=True)

In [46]:
test_dataset

                                                sentence  causal
0      in fact, i would go so far as to say that my p...       1
1      These health problems are the result of nutrie...       1
2      Such actions must also be the cause of the pla...       1
3      hms barfleur was a 100-gun first-rate ship of ...       0
4      The success of The Adam and Joe Show lead to s...       1
...                                                  ...     ...
39506  We discuss the implications for current diagno...       0
39507  They are used for allergic reactions associate...       1
39508  Hair grows back after 3-9 months after stress ...       1
39509  The fungus that caused the Irish potato famine...       1
39510  Data on efficacy of late administration of oxi...       0

[39511 rows x 2 columns]

In [47]:
test_dataset.to_csv("test_all_causal_final.csv")

In [51]:
train_dataset['causal'].value_counts()

causal
1    70333
0    21857
Name: count, dtype: int64

In [52]:
test_dataset['causal'].value_counts()

causal
1    30143
0     9368
Name: count, dtype: int64

In [53]:
import jsonlines
import pandas as pd
import re
import numpy as np
from math import nan
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import utils
from future.utils import iteritems
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from scipy.linalg import hadamard
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report
import matplotlib.pyplot as plt

In [54]:
import random